<footer class="page-footer" style="background-color:<%-footerContent.data.background_color %>">
  <div class="footer-container">
    <div class="footer-title body-font-light">
      <%- ctx.prismicH.asText(footerContent.data.title) %>
    </div>
    <div class="links">
      <% footerContent.data.links.map(menuLink => { %>
        <span class="box">
          <a class="underline"  href="<%- ctx.prismicH.asLink(menuLink.link) %>" target="<%- menuLink.link.target %>" style="color: <%-footerContent.data.links_color %> !important">
            <%- ctx.prismicH.asText(menuLink.text) %>
          </a>
        </span>
      <% }) %>
    </div>
  </div>
</footer>



<!-- <div class="box contact">
  <a class="underline" href="mailto:hello@madeleine.work">hello@madeleine.work</a>
</div> 

<%= JSON.stringify(footerContent.data.links, null, 2) %>-->

