<% 
var workClass;
if (id == 'home') {
  workClass = 'scroll-work';
} else {
  workClass = 'to-work';
}

var logoColor;
if (id == 'services') {
  logoColor = 'Ivory';
} else {
  logoColor = 'Black';
}
%>
<% if (font_color !== '') { %>
  <style>
    .site-header, .site-header a {
      color: <%- font_color %> !important;
    }
    .underline::after  {
      background-color: <%- font_color %> !important;
    }
    .menu .icon-left,
    .menu .icon-left:before,
    .menu .icon-left:after,
    .menu .icon-right,
    .menu .icon-right:before,
    .menu .icon-right:after {
      background-color: <%- font_color %> !important;
    }
  </style>
<% } %>
  <header class="site-header">
    <!-- Centered link-->
    <div class="logo-container">
      <a href="./">
        <div class="logo"><%- include(`../../public/images/logos/MadeleineEdwards_${logoColor}.svg`) %></div>
      </a>
    </div>
    <nav>
      <!-- Left-aligned links (default)-->
      <div class="box topnav-left">
        <!-- <a class="underline scroll-work" href="#">CO-FOUNDER & CREATIVE DIRECTOR AT <strong>DRAPERIE</strong></a> -->
        <a href="<%- ctx.prismicH.asLink(menuContent.data.left_link) %>" disabled aria-disabled="true"><%- ctx.prismicH.asText(menuContent.data.left_link_label) %></a>
      </div>
      <!-- Right-aligned links-->
      <div class="topnav-right">
        <div class="box mobile">
          <div style="width: 110px;"><%- include(`../../public/images/logos/ME_Ivory.svg`) %></div>
        </div>
        <% menuContent.data.menu_links.map(menuLink => { %>
            <% if (menuLink.view === "mobile") { %>
              <div class="box mobile">
            <% } else { %>
              <div class="box">
            <% } %>
              <% if (menuLink.label[0].text === "WORK") { %>
                <a class="underline <%- workClass %>" href="<%- ctx.prismicH.asLink(menuLink.link) %>" target="<%- menuLink.link.target %>">
              <% } else { %>
                <a class="underline" href="<%- ctx.prismicH.asLink(menuLink.link) %>" target="<%- menuLink.link.target %>">
              <% } %>
                <%- ctx.prismicH.asText(menuLink.label) %>
              </a>
            </div>
        <% }) %>
        <div class="mobile draperie">
          <%- ctx.prismicH.asText(menuContent.data.draperie_text) %>
        </div>
      </div>
    </nav>
    <div class="menu">
      <div class="icon-left"></div>
      <div class="icon-right"></div>
    </div>
  </header>
</div>
<button class="scrollToTopBtn">
  <img src="<%= menuContent.data.scroll_icon.url %>" />
</button>

