
<div class="archive-column">
  <% for (let i = 0; i < slice.items.length; i++) { %>
    <img class="scroll-transition-fade" src="<%= slice.items[i].first.url %>" alt="<%- slice.items[i].first.alt %>">
  <% } %>
</div>
<div class="archive-column">
  <% for (let i = 0; i < slice.items.length; i++) { %>
    <img class="scroll-transition-fade" src="<%= slice.items[i].second.url %>" alt="<%- slice.items[i].second.alt %>">
  <% } %>
</div>
<div class="archive-column">
  <% for (let i = 0; i < slice.items.length; i++) { %>
    <img class="scroll-transition-fade" src="<%= slice.items[i].third.url %>" alt="<%- slice.items[i].third.alt %>">
  <% } %>
</div>
<div class="archive-column">
  <% for (let i = 0; i < slice.items.length; i++) { %>
    <img class="scroll-transition-fade" src="<%= slice.items[i].fourth.url %>" alt="<%- slice.items[i].fourth.alt %>">
  <% } %>
</div>
