<div class="project-row">
   <div class="project-column">
     <h2 class="animate scroll-transition-fade" id="title"><%= ctx.prismicH.asText(slice.primary.title).toUpperCase() %></h2>
     <section class="text-content scroll-transition-fade">
       <span><%= ctx.prismicH.asText(slice.primary.description) %></span>
     </section>
   </div>
   <div class="project-column">
      <h3 class="animate scroll-transition-fade"><%= ctx.prismicH.asText(slice.primary.type).toUpperCase() %></h3>
      <% for (let i = 0; i < slice.items.length; i++) { %>
        <div class="animate scroll-transition-fade">
          <span class="collab_title"><%= ctx.prismicH.asText(slice.items[i].collab_title).toUpperCase() %></span> 
          <span class="collab_name"><%= ctx.prismicH.asText(slice.items[i].collab_name) %></span>
        </div>
      <% } %>
   </div>
 </div>

 