<!DOCTYPE html(lang='en')>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body id="archive">
    <div class="loading"></div>
    <div class="overlay">
      <div class="img-menu">
        <i id="exit" class="menu-icon material-icons">&#xE5CD;</i>
        <i id="zoom" class="menu-icon material-icons">&#xE8FF;</i>
        <i id="fullscreen" class="menu-icon material-icons">&#xE5D0;</i>
      </div>
    </div>
    <div class="whitebar" style="background-color: #FFF;">
    <%- include('./partials/nav', { id: 'archive' }); %>
    <%- include('./partials/scroll-btn'); %>
    <div class="archive" style="display:block;">
      <h1 class="archive-title"><%- ctx.prismicH.asText(pageContent.data.page_title) %></h1>
      <div class="archive-container">
        <%- include("SliceZone", {SliceZone: pageContent.data.body}); %>
      </div>
    </div>
    <%- include('./partials/footer'); %>
  </body>
</html>
