<!DOCTYPE html(lang='en')>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body id="archive">
    <div class="loading"></div>
    <div class="whitebar" style="background-color: #FFF;">
    <%- include('./partials/nav', { id: 'archive' }); %>
    <%- include('./partials/scroll-btn'); %>
    <div class="archive" style="display:block;">
      <h1 class="archive-title"><%- ctx.prismicH.asText(pageContent.data.page_title) %></h1>
      <div class="archive-container">
        <%- include("SliceZone", {SliceZone: pageContent.data.body}); %>
      </div>
    </div>
    <%- include('./partials/footer'); %>
  </body>
</html>
