<!DOCTYPE html(lang='en')>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="homepage" id="homepage">
    <div class="loading" style="background-color: <%-pageContent.data.background_color %>"></div>
    <div class="whitebar" style="background-color: <%-pageContent.data.background_color %>">
      <%- include('./partials/nav', { id: 'home', font_color: '', bg_color: ''}); %>
    </div>
    <div class="container" id="container" style="background-color: <%-pageContent.data.background_color %>">
      <div class="home-content">
        <h1 class="to-letter" style="text-align:center;">
          <%- ctx.prismicH.asText(pageContent.data.title) %>
        </h1>
        <div class="details">
          <%- ctx.prismicH.asText(pageContent.data.details) %>
        </div>
      </div>
      <!-- <canvas id="canvas" style="position: absolute;"></canvas> -->
    </div>
    <div class="thumbnails" id="work">
      <%- include("SliceZone", {SliceZone: pageContent.data.page_content}); %>
    </div>
    <footer class="home-footer" id="info">
      <a href="<%- ctx.prismicH.asLink(pageContent.data.archive_link) %>">ARCHIVE</a>
    </footer>
  </body>
</html>


