<!DOCTYPE html(lang='en')>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body id="page">
    <div class="loading" style="background-color: <%-menuContent.data.homepage_color %>"></div>
    <div class="whitebar" style="background-color: #f8f8f4;">
    <%- include('./partials/nav', { id: 'page', font_color: '', bg_color: ''}); %>
    <div class="project" style="display:block;">
      <section class="content-section">
        <%- include("SliceZone", {SliceZone: pageContent.data.page_content}); %>
      </section>
    </div>
    <%- include('./partials/footer'); %>
  </body>
</html>
