<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body data-wio-id="<%- pageContent.id %>"">
    <div class="loading"></div>
    <div class="whitebar" style="background-color: #FFF;">
    <%- include('./partials/nav'); %>
    <%- include('./partials/scroll-btn'); %>
    <div class="project" style="display:block;">
      <section class="content-section">
        <%- include("SliceZone", {SliceZone: pageContent.data.page_content}); %>
      </section>
    </div>
    <%- include('./partials/footer'); %>
  </body>
</html>
