<!DOCTYPE html(lang='en')>
<html>
  <head>
    <%- include('./partials/head'); %>

    <style>
      .cls-1 {
        fill: <%-pageContent.data.font_color %> !important;
        stroke: <%-pageContent.data.font_color %> !important;
      }
    </style>
  </head>
  <body id="services" style="background-color: <%-pageContent.data.background_color %>; color:<%-pageContent.data.font_color %>">
    <div class="loading" style="background-color: <%-pageContent.data.background_color %>"></div>
    <div class="whitebar" style="background-color: <%-pageContent.data.background_color %>">
    <%- include('./partials/nav', { id: 'services', font_color: `${pageContent.data.font_color}`, bg_color: 'test' }); %>
    <div class="service-content">
      <div class='service-row'>
        <div class="services">
          <div id="list">
            <h2 style="font-size: 16px; font-weight: 500">CREATIVE SERVICES</h2>
            <%- ctx.prismicH.asHTML(pageContent.data.creative_services) %>
          </div>
        </div>
        <div class="services">
          <img 
            src="<%- pageContent.data.image.url %>" 
            alt="<%- pageContent.data.image.alt %>"
          />
        </div>
      </div>
      <div  class='service-row'>
        <div class="services">
          <div id="process">
            <h2 style="font-size: 16px; font-weight: 500">PROCESS</h2>
            <%- ctx.prismicH.asHTML(pageContent.data.process) %>
          </div>
        </div>
        <div class="services">
          <div id="contact">
            <h2 style="font-size: 16px; font-weight: 500">CONTACT</h2>
            <br>
            <div class='box'>
              <a class='underline' href='mailto:<%= ctx.prismicH.asText(pageContent.data.email) %>' target='_blank' style="color: <%-pageContent.data.font_color %> !important">email:<%- ctx.prismicH.asText(pageContent.data.email) %></a>
            </div>
            <br>
            <% if (pageContent.data.links && pageContent.data.links.length) { %>
              <% pageContent.data.links.forEach(function(item) { %>
                <% if (item.link && item.label) { %>
                   <div class='box'>
                    <a class='underline' href='<%- ctx.prismicH.asLink(item.link) %>' target='_blank' style="color: <%-pageContent.data.font_color %> !important"><%- ctx.prismicH.asText(item.label) %></a>
                  </div>
                <% } %>
              <% }) %>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
